@import "jquery/jquery-ui.css";

/* layout */
body { color:#000000; background-color:#ffffff; padding:0; margin: 0;  font-family: Helvetica,sans-serif; }
a { color: #037; border: none; text-decoration: none }
a:hover{  text-decoration: underline }

div#header { position:fixed; top:0; left:0; right:0; background-color: #ffffff; z-index:2; height: 5.2em; overflow: clip; }
div#header+hr {position:fixed; top:5.2em; left:0; right:0; background-color: #ffffff; z-index:2}
div#content { margin-top: 5.3em;}

.code { border-collapse:collapse; width:100%; padding:0 }
.code { font-family: monospace; }
.code th { /*width:2.5em;*/ padding-right:1ex; background-color:#eeeeee ;
            text-align:right; color:black; font-weight:normal   }
.code td { padding-left: 1ex; white-space: pre }

#footer { font-size: smaller; margin:1ex; color: #333; text-align: right }
#footer img { vertical-align: middle; }
img { border: none; }
input#searchline { margin: 1ex;  width: 30em; max-width: 50%; }
p#breadcrumb { padding:0; margin: 0 1ex 1.5ex 1ex;   }
hr { margin: 0; }
p#options { font-size: small; position: absolute; right:1ex; top:48px; margin: 0 1ex 0 0  }
a.logo { float:right }

#tooltip {
    position:absolute;
    display:none;
    padding:1em;
    padding-top:1ex;
    border: 1px solid gray;
    background-color: white;
    font-size: smaller;
    opacity: 0.9;
    border-radius: 4px;
    max-width: 70%;
    box-shadow:1px 1px 7px gray;
    z-index:2;
}
#tooltip ul { margin:0; padding-left: 1em }
#tooltip a.showuse {color:inherit; text-decoration:underline}
#tooltip b a { color:inherit }
#tooltip abbr  { cursor: help; border-bottom: 1px dashed #000; }
/*#tooltip li { border: 1px solid blue; margin:0 }*/

p.warnmsg { color: #a00; padding: 0 1ex; margin: 0.3ex 0; }

.code a { text-decoration:none; color:inherit }


/* color style */
.code q::before , .code q::after { content:none; }
.code dfn { font-style: normal }

.code b, .code em { color: #808000; font-style:normal; font-weight: normal}
.code i, .code q, .code kbd, .code u>a { color: #008000 ; font-style:normal; font-weight: normal}
.code i.doc { color: #000080; }
.code i .command { color: #00f }
.code var, .code u, .code .macro { color: #000080;  text-decoration: none; font-style:normal }

.code .type, .code .typedef, .code .namespace, .code .enum  { color: #800080}
.code .member { color: #860d0d }
.code .virtual { font-style: italic }

.error { border-bottom: 1px dashed red }
.warning { border-bottom: 1px dotted #c90; }
.highlight { background-color: #eee; border-radius:3px; border: 1px solid #B4B4B4; margin:-1px}


 #tooltip i { color: #008000; white-space: pre-wrap; font-family: monospace; font-style: normal }

 /* disable the keywords in strings  (macro have that)  */
 .code q em, .code q b , .code q var { color:inherit; font-style:inherit; font-weight:inherit; }
 
 /* Macro expansions.*/
 .expansion { display: none;  white-space: pre ; }
 
